body {
    background-color:   #888888;
}

#TheBoard {
    left:               50%;
    top:                50%;
    position:           fixed;
}

#TheMessage {
    left:               50%;
    top:                50%;
    position:           fixed;
    cursor:             pointer;
}

.pixel {
    float:              left;
    color:              white;
    display:            none;
}

.status {
    position:           absolute;
    top:                -35px;
}

#txtLives {
    left:               10px;
}

#txtLevel {
    left:               200px;
}

#txtPercent {
    left:               390px;
}

#txtScore {
    left:               580px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#TheMessage {
    text-align:         center;
    color:              yellow;
}

#TheMessage_Title {
    font-size:          72px;
    margin-top:         -5px;
}

#TheMessage_Text {
    font-size:          48px;
    margin-top:         -60px;
}

#TheMessage_List {
    font-size:          24px;
    margin-top:         -40px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.Button {
    position:           absolute;
    left:               -120px;
    width:              100px;
    
    border:             1px solid #888888;
    border-radius:      5px;
    text-align:         center;

    background-color:   white;
    color:              black;
    cursor:             pointer;
}

.Button:hover {
    background-color:   black;
    color:              white;    
}

#btnNewGame {
    
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.unselectable {
    -webkit-touch-callout:  none;
    -webkit-user-select:    none;
    -khtml-user-select:     none;
    -moz-user-select:       moz-none;
    -ms-user-select:        none;
    user-select:            none;
}